@model ViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<body>
    <div>
        @{
            Html.BeginForm("Index", "Home");
        }
        Select Currency 3
        @Html.DropDownListFor(x => x.SelectedCurrency, Model.ListofCurrency,  new { id="EUR", @onchange="this.form.submit()"})
        @{
            Html.EndForm();
        }

    </div>


    <table>
        <thead>
            <tr><th>SKU Name</th><th>Price</th></tr>
        </thead>
        <tbody>
            @foreach (PricingItem i in Model.Pricingskus) {
                <tr>
                    <td>@i.armSkuName</td>
                    <td>@i.retailPrice</td>
                </tr>
            }
        </tbody>
    </table>
</body>

